:root {
    --primarycolor: #203E51;
    --fontcolor: #E7DED5;
    --testcolor: rgb(200, 200, 200);
    --colorstats: #00171F;
}

/* Definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fontcolor);
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--fontcolor);
}

.flex {
    display: flex;
    align-items: center;
}

label {
    width: fit-content;
}

/* loading */

/* input[type="text"],
input[type="password"] */
.input-padrao {
    border-radius: 5px;
}

input[type="submit"],
select {
    border-radius: 20px;
}

select {
    cursor: pointer;
    outline: none;
}

/* Fim das definições gerais */

.search {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: var(--fontcolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.input-item {
    width: 100%;
    position: relative;
}

.search >.input-item>form>input[type=text] {
    width: 100%;
    padding: 9px 40px 9px 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-color: var(--fontcolor);
    color: var(--primarycolor);
    font-size: 1rem;
}

form>.button-icon-search {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

form>.button-icon-search > i {
    font-size: 19px;
}


/* Editando home do painel */

.gif {
    margin: 110px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif>img {
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

/* Fim da home do painel */

/* paginação */

.paginacao {
    margin: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.paginacao a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 8px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-decoration: none;
    background-color: var(--fontcolor);
    color: var(--colorstats);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paginacao a.page-selected {
    background: var(--colorstats);
    color: var(--fontcolor);
}

.pontinho {
    color: var(--colorstats);
    font-size: 21px;
    font-weight: bold;
}

/* paginação fim */


/* Estilizando menu lateral */
aside {
    position: fixed;
    /* width: 17%; */
    width: 250px;
    height: 100%;
    background-color: var(--primarycolor);
    flex-direction: column;
    box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}

.aside-container {
    width: 85%;
    height: 100%;
    max-height: 900px;
    padding: 20px 2% 15px 2%;
    flex-direction: column;
    position: relative;
    gap: 35px;
}

.perfil {
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.avatar-user,
.img-perfil {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    /* background-color: var(--fontcolor); */
    background-size: 100% 100%;
    background-position: center;
    border: 4px solid #ffffff;
    position: relative;
    /* background-image: url('../img/user-rounded-svgrepo-com.svg'); */

}

.button-menu {
    display: none;
}

.avatar-user img,
.img-perfil img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nome-perfil {
    width: 100%;
    max-width: 250px;
    padding: 7px;
    background: var(--fontcolor);
    border-radius: 10px;
    text-align: center;
}

.nome-perfil>p {
    color: var(--primarycolor);
    font-weight: normal;
}

nav {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.nav-item {
    flex-direction: column;
    gap: 15px;
}

.nav-item>h2 {
    text-transform: uppercase;
}

ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.item-child>ul>li>.marcacao {
    font-size: 17px;
    letter-spacing: 2px;
    padding: 6px;
    position: relative;
}

.item-child>ul>li>.marcacao:hover {
    color: #ffffff;
}

.item-child>ul>li>.marcacao::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.item-child>ul>li>.marcacao:hover::after {
    width: 100%;
}

.btn-main {
    position: absolute;
    width: 40px;
    height: 40px;
}

.btn-logout {
    left: -3px;
    bottom: 72px;
}

.btn-home {
    bottom: 12px;
    left: -3px;
}

.btn-home>a>img,
.btn-logout>a>img {
    width: 28px;
}

/* Fim do menu lateral */

/* Estilizando página de notícias */

.estatistica-box {
    width: 100%;
    background-color: var(--primarycolor);
    padding: 50px 2% 30px 2%;
    border-radius: 15px;
    justify-content: space-between;
    flex-direction: column;
}

.center1 {
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    gap: 150px;
}

.stats-container {
    width: 100%;
    flex-direction: column;
    gap: 13px;
}

.list-stats {
    width: 100%;
    padding: 0 2%;
    justify-content: end;
}

.list-stats-item {
    width: 170px;
    padding: 3px 0 3px 7px;
    border-radius: 10px;
    background: var(--fontcolor);
}

.list-stats-item>label {
    color: var(--primarycolor);
    font-size: 13px;
}

select {
    background: none;
    border: 0;
    color: var(--primarycolor);
}

option {
    color: var(--primarycolor);
}

.stats {
    width: 100%;
    justify-content: space-between;
}

.stats-box {
    width: 30%;
    background: var(--fontcolor);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;
}

.stats-box>p {
    color: var(--primarycolor);
}

.stats-box p:nth-child(2) {
    color: var(--colorstats);
    font-weight: bold;
}

.info-container {
    width: 100%;
    flex-direction: column;
    gap: 45px;
}

.info-acesso {
    width: 100%;
    justify-content: space-between;
}

.info-acesso p {
    font-weight: bold;
}

.ip {
    width: 30%;
    padding: 19px 12px 19px 12px;
    border-radius: 7px;
    background: var(--colorstats);
    text-align: center;
}

.data {
    padding: 19px 12px 19px 12px;
    width: 30%;
    background: var(--colorstats);
    text-align: center;
    border-radius: 7px;
}

.acesso {
    padding: 19px 12px 19px 12px;
    width: 30%;
    background: var(--colorstats);
    text-align: center;
    border-radius: 7px;
}

/* Fim da box de estatísticas */

/* Estilizando página de cadastrar notícia */

.center2 {
    max-width: 1280px;
    margin: 0 auto;
}

.cd-container {
    width: 100%;
    background: var(--primarycolor);
    padding: 2%;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
}

.news-bg img,
.news-bg {
    width: 100%;
    padding: 60px 0px 60px 0px;
    background-color: var(--colorstats);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.edit-bg {
    max-height: 450px;
    padding: 0;
    display: block;
    background-color: var(--primarycolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-bg>img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
    padding: 0;
}

.edit-arquivo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arquivo {
    justify-content: center;
    width: 65px;
    height: 65px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

i {
    font-size: 4rem;
    cursor: pointer;
}

.arquivo>input[type="file"] {
    background-color: green;
    position: absolute;
    top: 41px;
    transform: scale(1);
    height: 80px;
    width: 67px;
    opacity: 0;
    cursor: pointer;
}

.titulo-data {
    width: 100%;
    justify-content: space-between;
}

.titulo {
    width: 70%;
    flex-direction: column-reverse;
    align-items: start;
    gap: 3px;
}

.data2 {
    width: 20%;
    flex-direction: column-reverse;
    gap: 3px;
}

.titulo>input,
.data2>input,
.autor>input,
.nova-categoria>input,
.usuario-item>input,
.usuario-item>select,
.listar-select>select,
.listar-atr

/* .input-padrao2*/
    {
    width: 100%;
    background: var(--fontcolor);
    border: 0;
    outline: none;
    padding: 10px 12px 10px 20px;
    color: var(--primarycolor);
    font-weight: bold;
}

.titulo>label,
.usuario-item>label {
    font-size: 22px;
    margin-left: 35px;
    cursor: pointer;
}

.data2>label {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.escrever-noticia,
.autor {
    width: 100%;
    align-items: start;
    flex-direction: column-reverse;
    gap: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 2%;
    resize: none;
    overflow: auto;
    border: 0;
    outline: none;
    background-color: var(--fontcolor);
    color: var(--primarycolor);
    font-weight: bold;
}

.tox {
    width: 100%;
}

.escrever-noticia>textarea::-webkit-scrollbar {
    width: 8px;
    border-radius: 7px;
}

.escrever-noticia>textarea::-webkit-scrollbar-thumb {
    background-color: var(--colorstats);
    border-radius: 5px;
    cursor: pointer;
}

.escrever-noticia>textarea::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

.escrever-noticia>label,
.autor>label {
    font-size: 22px;
    margin-left: 35px;
    cursor: pointer;
}

.autor>input {
    width: 60%;
}

.select-categoria {
    width: 100%;
    height: 35px;
    background-color: var(--fontcolor);
    border-radius: 5px;
}

.submit-cadastro {
    width: 100%;
    padding: 15px 0;
    justify-content: center;
}

.submit-cadastro>input {
    width: 55%;
    background: var(--fontcolor);
    border: 0;
    border-radius: 20px;
    padding: 12px 10px 12px 10px;
    color: var(--primarycolor);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.submit-cadastro>input:hover {
    background: #c7c0b8;
}


/* Estilos gerais para o container */
.order-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Estilo para as opções de radio */
.radio {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
}

.radio-option>label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.radio-item>label {
    font-size: 16px;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="radio"]:checked+label {
    color: #436fe9;/
}

/* Escondendo o input hidden, mas o mantando funcional */
input[type="hidden"] {
    display: none;
}

/* Fim da página de cadastro de notícias */

/* Estilizando a página de cadastrar categoria */

.categoria-container {
    width: 100%;
    padding: 35px 2%;
    flex-direction: column;
    gap: 20px;
}

.logo-categoria {
    width: 100%;
    justify-content: center;
}

.logo-categoria>img {
    width: 180px;
}

.nova-categoria {
    width: 50%;
    padding: 55px 3%;
    flex-direction: column-reverse;
    gap: 25px;
    background-color: var(--primarycolor);
    border-radius: 20px;
}

.nova-categoria>label {
    font-size: 30px;
    font-weight: bold;
}

.submit-categoria {
    width: 48%;
    justify-content: center;
}

.submit-categoria>input {
    width: 100%;
    background: var(--primarycolor);
    border: 0;
    border-radius: 20px;
    padding: 12px 10px 12px 10px;
    color: var(--fontcolor);
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.submit-categoria>input:hover,
.item-submit>input:hover,
.back:hover {
    background: #1c3546;
}

/* Fim da página de cadastrar categoria */

/* Estilizando página de cadastrar usuário */

.user-form {
    width: 100%;
    padding: 40px 2%;
    justify-content: center;
}

.user-form2 {
    padding: 20px 2%;
}

.usuario {
    width: 40%;
    min-height: 500px;
    padding: 20px 2%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primarycolor);
    border-radius: 20px;
    position: relative;
}

.usuario-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid var(--fontcolor);
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.usuario-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.usuario-item {
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 4px;
}

.usuario-item>label {
    font-size: 19px;
    font-weight: bold;
}

.usuario-file-img {
    position: absolute;
    top: 22px;
    right: 25px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.usuario-file-img>i {
    font-size: 2rem;
    cursor: pointer;
}

.usuario-file-img>input {
    background-color: green;
    position: absolute;
    transform: scale(2);
    opacity: 0;
    cursor: pointer;
    width: 20px;
    left: 10px;
    top: 8px;
    height: 18px;
}

.item-submit {
    position: absolute;
    top: 105%;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.item-submit-editar {
    top: 100%;
}

.item-submit2 {
    top: 120%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.back {
    width: 70%;
    background-color: var(--primarycolor);
    border-radius: 20px;
    justify-content: center;
    gap: 25px;
    padding: 12px;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.back-categoria {
    width: 55%;
    transform: translateY(10px);
}

.back{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;
}

.back>img {
    width: 23px;
    cursor: pointer;
    transform: translateY(2px);
}

.back>p {
    font-size: 22px;
    font-weight: bold;
}

.item-submit>input {
    width: 90%;
    padding: 12px 12px 12px 20px;
    font-size: 24px;
    background-color: var(--primarycolor);
    color: var(--fontcolor);
    cursor: pointer;
    transition: 0.2s;
}

/* Fim da página de cadastrar usuário */

/* Estilizando página de índice */

.listar-container {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    padding: 20px 2%;
}

.listar-box {
    width: 100%;
    padding: 10px 2%;
    background-color: var(--primarycolor);
    border-radius: 20px;
}

.listar-item {
    width: 100%;
    justify-content: space-between;
    padding: 5px 2%;
    background-color: var(--primarycolor);
    border-radius: 20px;
}

.listar-select {
    width: 30%;
}

.listar-select>select {
    background-color: var(--primarycolor);
    color: var(--fontcolor);
    font-size: 25px;
    padding: 10px 12px 10px 20px;
}

.listar-atr {
    text-align: center;
    background-color: var(--primarycolor);
}

.listar-atr>p {
    font-size: 20px;
    cursor: default;
}

.listar-autoria {
    background-color: var(--primarycolor);
}

.editar-funcoes2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.listar-autor,
.listar-data,
.listar-titulo,
.listar-editar,
.listar-excluir {
    color: var(--fontcolor);
    background-color: var(--primarycolor);
}

.listar-item2 {
    width: 100%;
    background-color: var(--primarycolor);
    border-radius: 20px;
    padding: 0 2%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.capa {
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.editar-container {
    width: 100%;
    flex-direction: column;
    gap: 35px;
}

.editar-item {
    width: 100%;
    padding: 40px 3%;
    justify-content: space-between;
    background-color: var(--primarycolor);
    border-radius: 20px;
}

.editar-funcoes-noticias {
    width: auto !important;
}

.editar-item>h3 {
    font-size: 25px;
}

.editar-funcoes {
    width: 35%;
    justify-content: space-between;
    padding-right: 65px;
}

.editar-funcoes>a>i {
    color: var(--fontcolor);
    font-size: 2rem;
    cursor: pointer;
}

/* Fim da página de índice */

/* Estilizando página de funcionários */

.func-container {
    width: 100%;
    padding: 0 2%;
    flex-direction: column;
    gap: 30px;
}

.func-titulo {
    margin: 0 auto;
    width: 95%;
    padding: 12px;
    background-color: var(--primarycolor);
    text-align: center;
    border-radius: 25px;
}

.func-list {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.func-item {
    min-width: 360px;
    min-height: 370px;
    padding: 15px 2%;
    flex-direction: column;
    gap: 50px;
    background-color: var(--primarycolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.func-img {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: center;
    border: 4px solid #ffffff;
    position: relative;
}

.func-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.func-cargo {
    flex-direction: column;
    gap: 40px;
}

.func-cargo>p {
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}

.func-funcoes {
    width: 100%;
    justify-content: space-around;
}

.func-funcoes>a>i {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Fim da página de funcionários */

/* Criando divs de Alert */

.box-alert {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 15px;
    padding: 33px 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sucesso {
    background: #00e676;
    color: white;
    top: 6%;
}

.erro {
    background: #F75353;
    color: white;
    top: 6%;
}

.inva {
    background-color: #a30702;
    top: 260%;
    color: white;
}

/* Fim das divs de Alert */

/* fim da página de noticías */

/* Estilizando tela de login */

.container-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 370px;
    padding: 0 2%;
    justify-content: center;
}

.form {
    width: 100%;
    padding: 30px 2%;
    background-color: var(--primarycolor);
    border-radius: 18px;
    flex-direction: column;
}

form {
    width: 80%;
    flex-direction: column;
    gap: 25px;
}

.form-categoria {
    width: 100%;
}

.item-login {
    justify-content: center;
}

.img-login>img {
    width: 110px;
}

.input-login-container {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-20px);
}

.login-input {
    width: 100%;
    flex-direction: column-reverse;
    align-items: start;
    gap: 6px;
    position: relative;
}

.login-input>label {
    font-weight: bold;
    cursor: pointer;
}

.login-input>input {
    width: 100%;
    padding: 8px 10px;
    border: 0;
    outline: none;
    background-color: var(--fontcolor);
    color: var(--primarycolor)
}

.login-input>input[type="password"] {
    padding: 8px 17px 8px 10px;
}

.login-input>#viewPassword {
    background: var(--fontcolor);
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    right: 8px;
}

.login-input>#viewPassword>i {
    font-size: 20px;
}

.login-break {
    align-items: center;
    gap: 0;
    margin-top: 20px;
}

.login-break>input[type="submit"] {
    width: 80%;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
}

.check {
    flex-direction: row;
    justify-content: center;
}

.check>input {
    width: auto;
    cursor: pointer;
}

.check>label {
    font-size: 10px;
    cursor: auto;
}

/* Fim da tela de login */

/* Lembrar o Carlos de ajeitar as div */
.cont {
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    padding: 15px 2%;
}

.box-cont {
    background: white;
    padding: 30px;
    margin-bottom: 25px;
}

/* Fim do lembrete */

@media (width <=969px) {

    /* Deixando o menu lateral responsivo */
    aside {
        width: 0px;
        display: block;
        z-index: 1000;
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
        left: 0;
        box-shadow: none;
    }

    .aside-container {
        height: 95%;
        width: 100%;
        padding: 0px 2%;
        margin-top: 26px;
        gap: 20px;
    }

    .btn-logout {
        bottom: 105px;
        left: 25px;
    }

    .btn-home {
        bottom: 45px;
        left: 25px
    }

    /* Deixando página de notícias responsiva */
    .container {
        background-color: var(--primarycolor);
        width: 100%;
        height: auto;
        padding: 0 2%;
        left: 0;
    }

    .info-acesso {
        width: 100%;
    }

    /* Fim da página de noticías responsiva */

    .button-menu {
        display: block;
        position: fixed;
        left: 22px;
        top: 24px;
        z-index: 10000;
    }

    .button-menu button {
        width: 35px;
        height: 35px;
        border-radius: 4px;
        cursor: pointer;
        border: 0;
        background: var(--primarycolor);
        justify-content: center;
    }

    .button-menu button>img {
        width: 22px;
    }

    .open {
        width: 100%;
        visibility: visible;
        overflow-y: auto;
    }

    .body.no-scroll {
        overflow: hidden;
    }

    .listar-container {
        padding: 52px 2%;
    }

    /* Fim do menu lateral responsivo */

    /* Parte de cadastro de notícias - responsivo */
    .cont {
        width: 100%;
        left: 0;
    }

    /* Fim da parte de cadastro de notícias - responsiva */
}

@media (width <=935px) {
    body {
        background-color: var(--primarycolor);
    }

    .form {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    /* Parte de cadastrar categoria - responsiva */

    .categoria-container {
        width: 70%;
        margin: 0 auto;
    }

    .nova-categoria {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .submit-categoria {
        width: 96%;
    }

    .submit-categoria>input {
        background-color: var(--fontcolor);
        color: var(--primarycolor);
    }

    /* Fim da parte de cadastrar categoria - responsiva */

    /* Parte de cadastro de usuário - responsiva */

    .user-form {
        padding: 20px 2%;
    }

    .usuario {
        width: 60%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .item-submit {
        background-color: var(--primarycolor);
        top: 103%;
    }

    .item-submit>input {
        background-color: var(--fontcolor);
        color: var(--primarycolor);
    }

    .item-submit>input:hover {
        background-color: var(--primarycolor);
        color: var(--fontcolor);
    }

    /* Fim da parte de cadastro de usuário - responsiva */


    /* Pagina de listar - responsiva */
    .listar-select>select {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .editar-item {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .editar-funcoes {
        padding-right: 0;
    }

    /* Fim da página de listar - responsiva */

    /* Parte de funcionários responsiva */

    .func-container {
        padding: 45px 2% 5px 2%;
    }

    .func-list {
        flex-direction: column;
        gap: 20px;
    }

    /* Fim da parte de funcionários - responsiva */

}

@media (width <=730px) {

    /* Deixando box-alert responsiva */
    .box-alert {
        width: 90%;
        margin: 25px auto;
    }
}

@media (width <=650px) {
    .categoria-container {
        width: 90%;
    }

    /* Parte de funcionários responsiva */

    .func-item {
        min-width: 0;
        width: 95%;
        height: auto;
        justify-content: space-around;
    }

    .func-img {
        width: 90px;
        height: 90px;
    }

    .func-cargo {
        gap: 30px;
    }

    .func-cargo>p {
        font-size: 18px;
    }


    .func-funcoes {
        width: 100%;
    }

    /* Fim da parte de funcionários - responsiva */

    .center-usuario {
        margin: 55px auto;
    }

    .center-membro {
        margin: 85px auto;
    }
}

@media (width <=600px) {

    .search {
        width: 90%;
    }

    /* Deixando página de notícias responsiva */
    .container {
        padding: 0px 2%;
        height: auto;
    }

    .stats-container {
        margin-top: 20px;
    }

    .info-acesso,
    .stats {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .stats-box {
        width: 95%;
    }

    .info-acesso-item {
        width: 90%;
    }

    .estatistica-box {
        height: auto;
    }

    /* Fim da página de noticías responsiva */

    .arquivo>input[type="file"] {
        width: 45px;
    }

    .arquivo>i {
        font-size: 2.5rem;
    }

    .listar-select {
        width: 60%;
    }

    .back {
        width: 90%;
        margin-top: 10px;
    }

    .func-container {
        gap: 5px;
    }

    .gif>img {
        width: 100%;
    }

}

@media (width <=545px) {

    /* Parte de cadastro de notícias - responsiva */
    .news-bg {
        padding: 65px 0;
    }

    .edit-bg {
        padding: 0;
    }

    .titulo-data {
        flex-direction: column;
        gap: 15px;
    }

    .titulo,
    .data2 {
        width: 95%;
    }

    .data2 {
        align-items: start;
    }

    .data2>label {
        text-align: left;
        margin-left: 35px;
    }

    .autor>input {
        width: 100%;
    }

    /* Fim da parte de cadastro de notícias responsiva */

    .usuario {
        width: 90%;
    }

    /* Parte de índice - responsiva */

    .listar-box,
    .listar-nome,
    .listar-editar,
    .listar-excluir {
        display: none;
    }

    .listar-item2 {
        padding: 10px 2%;
        flex-direction: column;
        gap: 30px;
    }

    .capa {
        border-radius: 50%;
    }

    .listar-select {
        width: 50%;
    }

    .editar-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 150px;
    }

    /* Fim da parte de índice - responsiva */

    .func-container>form {
        width: 100%;
    }
}

@media (width <=400px) {
    form {
        width: 95%;
    }

    .usuario-file-img {
        top: 15px;
        right: 8px;
    }

    .listar-select {
        width: 65%;
    }

    .box-alert {
        flex-direction: column;
        top: 310%;
    }
}

@media (height >=1000px) {
    .estatistica-box {
        height: auto;
    }
}

@media (height <=850px) {
    .center1 {
        gap: 25px;
    }
}

@media (height <=599px) {
    aside {
        height: 100vw;
    }
}